<div class="container">
  <%= flash[:notice] %>
  <h5 class="text-center", style="background-color:#eee; width:150px; margin:30px 0 30px 100px;"><b>商品新規登録</b></h5>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="col-10">
        <%= form_with model:@item, url: admin_items_path, method: :post do |f| %>
          <%= render 'form', item: @item, f: f, genres: @genres %>
        <% end %>
      </div>
    </div>
  </div>
</div>